html, body, div, span, p, ul, li, ol, li, a, h1, h2, h3, table, select, option, tr, th, tr, td {
    margin: 0;
    padding: 0;
}  

html {
    font-size: 20px;
}

/*ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.nav {
    height: 50px;
    width: 100%;
    background: #da4750;
    position: relative;
    border-bottom: 1px solid #aaa;
}

.nav .sanjiao {
    width: 15px;
    height: 15px;
    border: 3px solid;
    border-color: transparent transparent #fff #fff; 
    float: left;
    transform: rotate(45deg);
    margin: 15px 0 0 18px;
}

.nav .zhineng {
    position: absolute;
    width: 220px;
    height: 28px;
    background: #fff;
    top: 25%;
    left: 25%;
    margin-top: -4px;
    margin-left: -28px;
    padding: 2px;
    border-radius: 5px;
}

.zhineng input {
    width: 200px;
    height: 22px;
    margin: 2px auto;
    display: block;
    outline: none;
    border: none;
    font-size: 15px;
    font-weight: bold;
}

.nav .dian {
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
    float: right;
    margin: 12px 18px 0 0;
}

.nav .dian:after {
    content: '';
    display: block;
    height: 5px;
    margin-top: 5px;
    background: #fff;
    border-radius: 50%;
}

.nav .dian:before {
    content: '';
    display: block;
    height: 5px;
    margin-top: 10px;
    background: #fff;
    border-radius: 50%;
}

.tjxp {
    width: 100%;
    height: 43px;
    border-bottom: 1px solid #aaa;
}

.tjxp li {
    float: left;
    width: 80px;
    height: 43px;
    line-height: 43px;
    text-indent: 18px;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    color: #666;
}

.tjxp .li-red {
    color: #c70000;
}

.dfg {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #aaa;
    padding: 12.5px 0;
    position: relative;
}

.dfg .guo {
    width: 101px;
    height: 101px;
    float: left;
    margin-left: 10px;
}

.dfg-right {
    float: right;
    width: 186px;
    margin-left: 9px;
}

.dfg-right .luyin {
    width: 170px;
    font-size: 13px;
    word-wrap: break-word;
}

.dfg-right .hyg  {
    margin-top: 15px;
    font-size: 14px;
}

.dfg-right .hyg img {
    float: right;
    width: 50px;
    margin-right: 40px;
}

.dfg-right .pl {
    font-size: 12px;
    color: #9a9691;
    margin: 4px 0;
}

.youhui {
    font-size: 12px;
}

.youhui .yh {
    color: #ffa200;
    padding: 2px;
    border: 1px solid #ffa200;
    border-radius: 2px;
}

.youhui .bs {
    color: #6699ff;
    padding: 2px;
    border: 1px solid #6699ff;
    border-radius: 2px;
}

.ddd {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #9a9691;
    border-radius: 50%;
    bottom: 18px;
    right: 62px;
}

.ddd:before {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    background: #9a9691;
    border-radius: 50%;
    margin-left: 10px;
}
.ddd:after {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    background: #9a9691;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: -5px;
}*/
body {
    min-width: 298px;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.nav {
    height: 2.5rem;
    width: 100%;
    background: #da4750;
    position: relative;
    border-bottom: 1px solid #aaa;
}

.nav .sanjiao {
    width: 0.75rem;
    height: 0.75rem;
    border: 0.15rem solid;
    /*border-width: 3px;
    border-style: solid;*/
    border-color: transparent transparent #fff #fff; 
    float: left;
    transform: rotate(45deg);
    margin: 0.75rem 0 0 0.9rem;
}

.nav .zhineng {
    position: absolute;
    width: 11rem;
    height: 1.4rem;
    background: #fff;
    top: 25%;
    left: 25%;
    margin-top: -0.2rem;
    margin-left: -1.4rem;
    padding: 0.1rem;
    border-radius: 0.25rem;
}

.zhineng input {
    width: 10rem;
    height: 1.1rem;
    margin: 0.1rem auto;
    display: block;
    outline: none;
    border: none;
    font-size: 0.75rem;
    font-weight: bold;
}

.nav .dian {
    width: 0.25rem;
    height: 0.25rem;
    background-color: #fff;
    border-radius: 50%;
    float: right;
    margin: 0.6rem 0.9rem 0 0;
}

.nav .dian:after {
    content: '';
    display: block;
    height: 0.25rem;
    margin-top: 0.25rem;
    background: #fff;
    border-radius: 50%;
}

.nav .dian:before {
    content: '';
    display: block;
    height: 0.25rem;
    margin-top: 0.5rem;
    background: #fff;
    border-radius: 50%;
}

.tjxp {
    width: 100%;
    height: 2.15rem;
    border-bottom: 1px solid #aaa;
}

.tjxp li {
    float: left;
    width: 4rem;
    height: 2.15rem;
    line-height: 2.15rem;
    text-indent: 0.9rem;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    color: #666;
}

.tjxp .li-red {
    color: #c70000;
}

.dfg {
    width: 100%;
    height: 5rem;
    border-bottom: 1px solid #aaa;
    padding: 0.625rem 0;
    position: relative;
}

.dfg .guo {
    width: 5.05rem;
    height: 5.05rem;
    float: left;
    margin-left: 0.5rem;
}

.dfg-right {
    float: right;
    width: 9.3rem;
    margin-left: 0.45rem;
}

.dfg-right .luyin {
    width: 8.5rem;
    font-size: 0.65rem;
    word-wrap: break-word;
    text-overflow: ellipsis; /* clip */
    height: 1.6rem;
    overflow: hidden;
}

.dfg-right .hyg  {
    margin-top: 0.25rem;
    font-size: 0.7rem;
}

.dfg-right .hyg img {
    float: right;
    width: 2.5rem;
    margin-right: 3.5rem;
}

.dfg-right .pl {
    font-size: 0.6rem;
    color: #9a9691;
    margin: 0.2rem 0;
}

.youhui {
    font-size: 0.6rem;
    margin-top: 0.5rem;
}

.youhui .yh {
    color: #ffa200;
    padding: 0.1rem;
    border: 1px solid #ffa200;
    border-radius: 0.1rem;
}

.youhui .bs {
    color: #6699ff;
    padding: 0.1rem;
    border: 1px solid #6699ff;
    border-radius: 0.1rem;
    margin-left: 0.5rem;
}

.ddd {
    position: absolute;
    width: 0.25rem;
    height: 0.25rem;
    background: #9a9691;
    border-radius: 50%;
    bottom: 0.9rem;
    right: 3.1rem;
}

.ddd:before {
    content: '';
    display: block;
    width: 0.25rem;
    height: 0.25rem;
    background: #9a9691;
    border-radius: 50%;
    margin-left: 0.5rem;
}
.ddd:after {
    content: '';
    display: block;
    width: 0.25rem;
    height: 0.25rem;
    background: #9a9691;
    border-radius: 50%;
    margin-left: 1rem;
    margin-top: -0.25rem;
}